<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>
        <b>Music Maestro: Songs in Playlist</b>
        </p>
        {% for item in song_data %}
            <form action="/getSongQualities" method="POST" enctype="multipart/form-data">
                <button name = "songqualities" type="submit" value= "{{item[1]}}">{{item[0]}}</button>
            </form>
        {% endfor %}
        {% for item in qualities %}
            <p>{{item}}</p>
        {% endfor %}
    </body>
</html>